.container {
  padding: 24px 12px;
  font-family: var(--primary-font);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.logo-link {
  border: 1px solid var(--text-color);
  padding: 8px;
}
.logo-link__text {
  font-family: var(--special-font);
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.menu-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 18px;
  height: 18px;
  z-index: 2;
  gap: 3px;
}
.menu-button__line {
  position: relative;
  background-color: var(--text-color);
  width: 18px;
  height: 3px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.menu-button.open .menu-button__line:nth-child(2) {
  opacity: 0;
}
.menu-button.open .menu-button__line:nth-child(1),
.menu-button.open .menu-button__line:nth-child(3) {
  background-color: var(--text-color);
}
.menu-button.open .menu-button__line:nth-child(1) {
  transform: rotate(45deg) translateY(8.5px);
}
.menu-button.open .menu-button__line:nth-child(3) {
  transform: rotate(-45deg) translateY(-8.5px);
}
.nav {
  position: absolute;
  top: 0;
  left: -4000px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  transition-property: left;
}
.logo-link,
.menu-button__line,
.menu-button__line::before,
.menu-button__line::after,
.nav {
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}
.menu-button.open ~ .nav {
  left: 0;
}
.nav__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.nav__link {
  color: var(--text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.nav__link:hover {
  font-weight: 700;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
}
.left-side {
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.left-side__title {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
}
.left-side__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.read-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.read-more__text {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 85px;
  z-index: -1;
}
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: absolute;
  right: 11px;
  bottom: 0;
}
.card__header {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 18px 22px;
}
.card__image {
  width: 37px;
}
.card__image-content {
  border-radius: 100%;
}
.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.card__job {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: var(--text-color-secondary);
}
.card__main {
  padding: 0 22px;
  padding-bottom: 25px;
}
.card__text {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
